body{
    font-family: sans-serif;
    background-color: #202020;
}

.header {
    text-align: center;
    color: white;
    font-size: 50px;
}

.container {
    margin: 200px;
}
.bodyofheader {
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
    color: HSL(229,93%,90%);
}

.team {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.member {
    /* background-color: RGBA(7,42,200,.5); */
    background-color: #000b5c;
    color: #C8E9E9;
    border: .5px black solid;
    /* border-radius: 200px; */
    padding: 50px;
    margin: 20px;
}

#join {
    grid-column: 1/3;
}
